body {
    background-image: url(../images/movie-theater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:black;
    
}
 
#container {
    margin: 20px auto;
    padding: 25px;
    width: 70%;
    overflow: auto;
    text-align: center;
    
}

h1{
    text-align: center;
   
    text-align: center;
    font-family: cursive;
}


#start-button {
    height: 100px;
    width: 300px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
