body {
    background-image: url("../images/movie-theater.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    list-style: none;
}

#submit {
    width: 80px;
    height: 30px;
    
}
    

#container {
    margin: auto;
    padding: 25px;
    width: 50%;
    text-align: center;
}